$letter_color: #f3c614;
$cursor_cer: url('../static/cerveza_g_mov.png'),auto;
#button{
    cursor: $cursor_cer;
    &:hover &:focus
    {
    background-color: $letter_color;
    color: black;        
    }
    &:active
    {
        transform: scale(.9);
    }
}
// .dropdown-content li > span
// {
//     color: $letter_color;
// }
// .autocomplete-content li .highlight
// {
//     color: white
// }
// .dropdown-content
// {
//     background-color: black;
// }
// .dropdown-content li:hover
// {
//     background-color: rgba($color: black, $alpha: .5);
// }