@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* 
{
    font-family: 'Indie Flower', 'system-ui';
};
.btn-circle
{
    border-radius: 100%;
    border: 4px solid #f3c614;
};
.bg-image
{
    background-image: url('../static/playa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
};
.top-left
{
    bottom: 1.6rem;
}
.categories__title
{
    font-size: 35px;
    margin-left: 10px;
    color: white;
}
.bottom-4
{
    bottom: 4.4rem;
}
@variants hover {
    .cursor
    {
        cursor:url('../static/cerveza_g_mov.png'),auto;
    }
}